{% extends 'layouts/index.html' %}

{% block content %}
<form action="/post" method="get">
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>
<div class="card_block" style="display: flex; flex-wrap: wrap;">
    {% for i in post_key %}
    <div class="card" style="width: 18rem;">
        <img src="{{ i.image.url }}" class="card-img-top" alt="post">
        <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">{{ i.description }}</p>
            <a href="/post_detail/{{ i.id }}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pages" style="display: flex; justify-content: center;">
    {% for page in pages %}
    <a href="/post/?page={{ page }}">
        <button> {{page}}</button>
    </a>
    {% endfor %}
</div>
{% endblock %}